  body{
    background-color: #3c9be3;
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;

 }


 .entrybox{
   background-color: #e3e3e3;
   border-radius: 8px;
   padding: 10px;
   border:0;
   margin-top: 15px;
   width: 25em;  height: 2em;


 }

 .submitbuttons{
   margin-top: 15px;
   border:0;
   background-color: #3c9be3;
   font-size: 20px;
   border-radius: 8px;
   width: 18em;  height: 2em;
   color: white;
   cursor: pointer;

 }
 
 .secondarylabel{
   font-family: 'Roboto', sans-serif;
   font-size: 12px;

 }

 #esqueceu{
   margin-left: 30px;
   color: #3c9be3;
   cursor: pointer;
 }

 .reflink{
   color: #3c9be3;
   cursor: pointer;
   text-decoration: none;

 }

 #textregistro{
   margin-top: 8px;
   font-size: 12px;

 }

 #checkbox{
   margin-top: 8px;
      cursor: pointer;

 }

 .headertext{
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   font-weight: bold;


 }

 .fieldtext{
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: bold;


 }

 #loginform{
    margin: auto;
    justify-content: center;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px;
    height: 400px;
    padding: 30px;
    text-align: center;
    vertical-align: center;
    position: relative;
    box-shadow: 0px 0px 9px 0px #000000
 }

#regbox{
   text-align: center;
   padding: 6px;
   margin: auto;
   width: 448px;
   height: 30px;
   background-color: #e3e3e3;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 0px 9px 0px #000000;

}

 #loginico{
    width: 80px;
    padding-bottom: 10px;
 }

 #p{
   margin-top: 5px;
   font-size: 15px;
 }

 #logtext{
   font-size: 20px;
 }

 .linkatual{
   font-weight: bolder;

 }